extends ../template

block variables
    - var title = 'Обо мне'

block content

    section.section.section_about
    section.section.section_map
        .google-map
        .map-contacts

    include ../common/_footer.pug





