extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
    .welcome
        .welcome__auth
            button.auth-btn Авторизоваться
        .welcome__flipper.flipper
            .flipper__side.flipper__side--front
                .welcome__hero-info
                    +hero(['Владимир Астахов', 'Личный сайт веб-разработчика'])
                .welcome__socials.socials
                    +socials('socials', [['Facebook', 'fb'], ['GitHub', 'github'], ['LinkedIn','in']])
                nav.nav
                    +nav-btns([['Мои работы', 'my-works.html'], ['Обо мне', 'about.html'], ['Блог', 'blog.html']])
            .flipper__side.flipper__side--back
                form.auth-form
                    .auth-form__title Авторизуйтесь
                    .auth-form__fields
                        input.auth-form__input(type="text" placeholder="Логин")
                        input.auth-form__input(type="password" placeholder="Пароль")
                        .auth-form__checkbox
                            label.auth-form__label.auth-form__label--checkbox Я человек
                                input(type="checkbox" checked).auth-form__checkbox-input
                        .auth-form__radio
                            p.auth-form__radio-text Вы точно не робот?
                            label.auth-form__label.auth-form__label--radio Да
                                input(type="radio" name="isRobot" checked).auth-form__radio-input
                            label.auth-form__label.auth-form__label--radio Нет
                                input(type="radio" name="isRobot" checked).auth-form__radio-input
                nav.nav
                    +nav-btns([['На главную', 'index.html'], ['Войти', '#']])
        .welcomepage__copyright.copyright
                ul.copyright__list
                    each item in ['&copy; Ирина Лыпник', 'создано с любовью в LoftSchool', '2017']
                        li.copyright__item!= item
