extends ../template

block variables
  - var title = 'Мои работы'

block content
  +header('my-works', 'portfolio', '1170', '285')
  section.section.section_my-works
    .triangles.triangles_my-works
      svg.triangles__svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1800 163" preserveaspectratio="none")
        polygon(points="0,0 0,163 901,163 901,160").triangles__svg_my-works
        polygon(points="1800,0 1800,163 899,163 899,160").triangles__svg_my-works
    .my-works
      .my-works__title
        .block-title.block-title_my-works Мои работы
        svg.block-title__bg-svg.block-title__bg-svg_my-works(viewBox="0 0 505 165")
          use(xlink:href="assets/images/icons/sprite.svg#works_header")
      .my-works__slider
        .slider
          .slider__slide-desc
            .slider__slide-title.block-subtitle.block-subtitle_my-works Сайт школы онлайн образования
            .slider__desc-skills HTML , CSS, JAVASCRIPT
            .slider__btn
              a.slider__btn-link(href="#")
                svg.slider__link-icon(width="19" height="19")
                  use(xlink:href="assets/images/icons/sprite.svg#link")
                span.slider__link-text Посмотреть сайт
          .slider__slides-preview
            img.slider__slide-img(src="assets/images/content/work-1.png", alt="")
          .slider__slides-nav
            .slider__control.slider__control_toprev
              a.slider__controls-link(href="#")
                svg.slider__arrow-svg(width="43" height="27")
                  use(xlink:href="assets/images/icons/sprite.svg#portf_arrow_down")
            .slider__control.slider__control_tonext
              a.slider__controls-link(href="#")
                svg.slider__arrow-svg(width="43" height="27")
                  use(xlink:href="assets/images/icons/sprite.svg#portf_arrow_up")
  section.section.section_reviews
    .reviews__title
      .block-title.block-title_reviews 
        | Что обо мне 
        br
        | говорят
      svg.block-title__bg-svg.block-title__bg-svg_reviews(viewBox="0 0 502 174")
        use(xlink:href="assets/images/icons/sprite.svg#about_header")
    .reviews
      ul.reviews__list
        li.reviews__item
          //- i.reviews__quotes
          .reviews__avatar
            img(src="assets/images/content/review1.jpg").reviews__img
          .reviews__text 
            p Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .reviews__author
            .reviews__author-info
              .reviews__author-name 
                p Ковальчук Дмитрий
              .reviews__author-title 
                p - основатель Loftschool
        li.reviews__item
          .reviews__avatar
            img(src="assets/images/content/review2.jpg").reviews__img
          .reviews__text 
            p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
          .reviews__author
            .reviews__author-info
              .reviews__author-name 
                p Сабанцев Владимир
              .reviews__author-title
                p - преподаватель
    .contact-form.form-container
      .form__title.form__title_contact-form
        .block-subtitle.block-subtitle_contact-form Связаться со мной
      form.form
        .form__fields
          label.form__label.contact-form__label
            input(type="text", name="name" placeholder="Имя").form__input.contact-form__input
          label.form__label.contact-form__label
            input(type="e-mail", name="e-mail" placeholder="E-mail").form__input.contact-form__input
          textarea(placeholder ="Ваше сообщение").form__textarea.contact-form__textarea
        .form__btns.nav-btns
            button.nav-btns__item.form__submit-btn.form__submit-btn_contact-form(type="submit" value="Отправить") Отправить
            button.nav-btns__item.form__reset-btn.form__reset-btn_contact-form(type="reset" value="Очистить") Очистить
    .my-works__arrow-btn
      a.arrow__link(href="#")
        svg.arrow__icon(width="27" height="19")
          use(xlink:href="assets/images/icons/sprite.svg#arrow_down")
  +footer('my-works')