// flipper

.welcome__flipper{
  display: flex;
  position: relative;
  width: 380px;
  height: 395px;
 	transition: 0.7s;
	transform-style: preserve-3d;
  position: relative;
  perspective: 1000px;
}

.welcome__user-block,
.welcome__auth-form{
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.welcome__user-block{
  z-index: 5;
}

.welcome__auth-form{
  	transform: rotateY(180deg);
}

