.footer{
	width: 100%;
	position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

	&_blog{
		position: relative;
	}
}

.footer__top {
	padding: 30px 0;
	background-color: rgba($grey2, .85);
	display: flex;
	flex-wrap: wrap;

	@include w700{
		padding: 25px 0;
	}

	@include w640{
		padding: 0 30px;
	}

	@include w450{
		padding: 0px 8px;
	}
}

.footer__bottom{
  background: rgba($green1, 0.85);
  width: 100%;
	@include roboto(light);
  padding: 10px;
 	@include flex-center;
}

.footer__col {
	padding: 0 30px;
  width: 33.33%;
	vertical-align: top;
	min-height: 87px;

	@include w700{
			padding: 0px 20px;
		}

	@include w640{
			padding: 30px 0;
		  text-align: center;
			min-height: initial;
	}

	@include w450{
			padding: 15px 0;
		  text-align: center;
	}
}

.footer__col_left{
		@include w1100{
			width: 50%;
		}
		@include w640{
			width: 100%;
		}


}
.footer__col_center{
	border-left: 1px solid #757a7d;
  border-right: 1px solid #757a7d;

	@include w1100{
			width: 50%;
			border-right: none;
	}

		@include w640{
		width: 100%;
		border-left: none;
		border-top: 1px solid #757a7d;
		border-bottom: 1px solid #757a7d;

	}
}

.footer__col_right{
		@include w1100{
			width: 100%;
			padding-top: 30px;
		}

		@include w700{
			padding-top: 25px;
		}
}

//first block
.footer__copyright-block{
  @include roboto(light);
  color: #fff;
}


//second block
.footer__nav-block{
  margin-bottom: 20px;
}

.nav__list{
  display: flex;

	@include w1450{
		justify-content: space-between;
	}

	@include w640{
		justify-content: space-around;
	}
}

.nav__item:not(:last-child){
  margin-right: 40px;

	@include w1450{
	margin-right: 0;
	}
}

.nav__link{
  @include roboto(medium);
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  
  &:hover{
    color: $green2;
  }
}

//third block
.footer__cite-block{
  @include roboto(light);
  color: rgba(#fff, .5);
  line-height: 1.8;

	@include desktops{
		line-height: 1.6;
	}
}

.footer__cite-text{
	@include roboto(lightitalic);

}

.footer__cite-author{
	@include roboto(bolditalic);
}

