
//common styles for all three forms
.form-container{
  position: relative;
  overflow: hidden;
  @include flex-center;
  flex-direction: column;
  width: 380px;
  padding: 0 rem(20px);

  @include tablets{
    width: 348px;
  }

  @include w360{
    width: 300px;
  }
}

.form{
  width: 100%;
}

.form__title{
  margin-bottom: 30px;
  text-align: center;
  white-space: nowrap;
}

.form__label{
  // width: 340px;
  width: 100%;
  margin-bottom: rem(20px);
  @include flex-center;
  //flex-direction: row-reverse;
}

.form__input,
.form__textarea{
  border: 1px solid #fff;
  padding: 15px 10px 15px 20px;
  @include roboto(regular);
  color: rgba($grey1, .5);
  font-size: rem(16px);
  outline: none; 
  width: 100%;

  &:focus{
    border: 1px solid $green1;
    color: $grey2;
  }
}

.form__input{
  height: 45px;

}

.form__textarea{
  height: 140px;
  resize: none;
  border-radius: 20px;
  margin-bottom: 20px;
}


//auth-form
.auth-form{
  background-color: rgba(#122620, .6);
  height: rem(407px);
  border-radius: 4px;
  @include flex-center;
  flex-direction: column;
  // display: none;
 

  &__label{
    flex-direction: row-reverse;
  }

  &__input-fake{
    background-color: #f0efe9;
    width: 52px;
    height: 45px;
    @include flex-center;
    border-radius: 19px 0 0 19px;
  }

  &__input{
    // width: 295px;
    border-radius: 0 19px 19px 0;
    
    &:focus + .auth-form__input-fake .auth-form__input-icon{
       fill: $green1;
    }   
  }
  
  &__input-icon{
    fill: #c4cbcd;
  }

// checkbox 
  &__checkbox-label{
    @include flex-center;
    margin-bottom: 10px;
  
  }

  &__checkbox-input{
    display: none;
  }

  &__checkbox-fake{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
    margin-right: 11px;
    position: relative;
    @include flex-center;
  }

  &__checkbox-icon{
    fill: #fff;
    display: none;
    
  }

  &__checkbox-input:checked + .auth-form__checkbox-fake{
    background-color: $green1;
  }

  &__checkbox-input:checked + .auth-form__checkbox-fake .auth-form__checkbox-icon{
    display: inline;
  }

  // radio
  &__radio-block{
    @include flex-center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__label-text_radio{
    margin-bottom: 10px;
    @include roboto(medium);
  }

  &__radio-input-block,
  &__radio-label{
    @include flex-center;
    flex-direction: row;
  }

  &__radio-input{
    display: none;
  }

  &__radio-fake{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #cccbca;
    margin-right: 10px;
    position: relative;

    &:after{
      content:"";
      @include circle(8px, $green1);
      position: absolute;
      top: 5px;
      left: 5px;
      display: none;
    }
  }
    
  &__radio-input:checked + .auth-form__radio-fake:after{
      display: inline-block;
  }

	 &__radio-input:checked + .form__radio-fake.auth-form__radio-fake +.form__label-text.auth-form__label-text{
      color: $green1;
  }
  
  &__radio-fake:not(:first-child){
    margin-left: rem(40px);
  }
}

// contact form на странице reviews
.contact-form{
  margin: 0 auto;
	padding-top: 15px;
  height: 460px;
  border-radius: 4px;
  background-color: rgba(#dadbd6, 0.6);
	justify-content: flex-start;
   //filter: url(#blurFilter);


  &__input{
    border-radius: 20px;
  }
}