@use "../_setups/media";
@use "../_setups/mixins";
@use "../_setups/variables" as app;

.section_map{
  position: relative;
   height: 1074px;

  @include media.desktops{
    height: 975px;
  }

  @include media.tablets{
    height: 907px;
  }
}

#map{
  background: #e6eadf;
  width: 100%;
  height: 100%;
 }

//map__contacts
.map-contacts{
  width: 381px;
  padding: 30px 40px;
  background-color: rgba(#fff, .85);
  border-radius: 4px;
  @include mixins.flex-center;
  flex-direction: column;
  position: absolute;
  top: 330px;
  left: 50%;
  transform: translateX(-50%);

   @include media.desktops{
    top: 220px;
  }

  @include media.tablets{
   width: 348px;
   padding: 25px 40px;
   top: 170px;
  }

  @include media.w360{
    top: 0;
    width: 100%;
    padding: 23px 28px;
  }
}

.map-contacts__title{
  margin-bottom: 35px;

  @include media.tablets{
    margin-bottom: 30px;
  }
}

.map-contacts__list{
  color: app.$grey1;
  width: 100%;
}

.contacts__item_map{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;

  @include media.tablets{
    margin-bottom: 20px;
  }

  &:last-child{
    margin-bottom: 0;
  }
}

.contacts__icon{
  fill: app.$green1;
  margin-right: 10px;
}

.contacts__link{
  text-decoration: none;
  color: app.$grey1;
  transition: all 0.3s;

  &:hover{
    color: app.$green2;
  }
}