.slider {
	display: flex;
	height: 755px;
	flex-wrap: wrap;
	flex-direction: column;

	@include w1100{
		height: 730px;
	}

	@include w810{
		height: auto;
	}

//slider description
  &__slide-desc{
		@include flex-center;
    width: 50%;
		height: 100%;
    flex-direction: column;
    //padding: 50px 20px 60px 20px;
	 	background-color: #ebefe2;
		order: 1;

		@include w810{
			width: 100%;
			height: 270px;
			order: 2;
		}
	}

  &__slide-title{
    text-align: center;
    margin-bottom: 22px;
		width: 380px;
		padding: 0 15px;

		@include w810{
			margin-bottom: 15px;
			width: auto;
		}
	}

  &__desc-skills{
    @include roboto(medium);
    color: $green2;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;

		@include w810{
			margin-bottom: 35px;
		}

		@include w380{
			margin-bottom: 15px;
		}
  }

  &__btn{
    background-color: $green1;
    width: 200px;
    height: 45px;
    border-radius: 20px;
    color: #fff;
    @include flex-center;

    &:hover{
      background-color: $green2;
    }

		@include w380{
			height: 40px;
			width: 185px;
		}
  }

  &__btn-link{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
  }

  &__link-icon{
    fill: #fff;
    margin-right: 10px;
    vertical-align: middle;
  }

// slider slides-preview
  &__slides-preview{
    width: 50%;
		height: 70.2%;
    background-color: #e1e4d7;
    @include flex-center;
		order: 2;

		@include w810{
			width: 100%;
			height: 530px;
			order: 1;
		}

		@include w380{
			height: 255px;
		}
  }

  &__slide-img{
    max-width: 100%;
  }

//slider navigation-btns
  &__slides-nav{
    display: flex;
		width: 50%;
		height: 29.8%;
		order: 3;

		@include w810{
			width: 100%;
			height: 215px;
			order: 2;
		}

		@include w380{
			height: 93px;
		}

  }

  &__control{
    width: 50%;
    @include flex-center;
    //height: 225px;
    background-color: #eeebe0;
  }

  &__arrow-svg{
    fill: #fff;

    // @include smallphones{
    //   width: 43px;
    //   height: 27px;
    // }
  }
}
