.soacials{
    @include w360{
        text-align: center;
  }
}
.socials__item{
  display: inline-block;
  vertical-align: bottom;

  &:not(:last-child){
    margin-right: 20px;
  }
}

.socials__link{
    display: inline-block;
}

.socials__icon{
  fill: rgba(#fff, 0.5);
  vertical-align: bottom;
  height: 26px;
  transition: all 0.3s;

  @include w360{
    height: 17px;
  }

  &:hover{
    fill: $green1;
  }
}

.header__socials .socials__icon{
    fill: #fff;
    transition: all 0.3s;

    &:hover{
    fill: $green1;
  }
}

.footer .socials__icon{
    fill: #a9acad;
    transition: all 0.3s;

    @include tablets{
        margin-left: -7px;
    }

    @include w360{
        text-align: center;
        margin-left: 0;
    }

    &:hover{
      fill: #fff;
    }
}