// triangles

.triangles{
  position: absolute;
  display: block;
  bottom: 100%;
  left: 0;
  right: 0; 
  z-index: 10;
  margin-bottom: -6px;

	@include laptops{
    margin-bottom: -1px;
  }

  @include w995{
    margin-bottom: -5px;
  }

  @include tablets{
    margin-bottom: -5px;
  }

  &_blog{
    margin-bottom: -6px; 
  }
}
  
  .triangles__svg{
    
    &_about-left{
      fill: #ebefe1;
    }
    
    &_about-right{
      fill: #f4f5f0;

      @include tablets{
        fill: #ebefe1;
      }
    }

    &_blog{
      fill: #faf8f0;
    }

    &_my-works{
      fill: #f8f9f5;
    }
  }