@use "../_setups/fonts";
@use "../_setups/media";
@use "../_setups/mixins";

.user{
  @include mixins.flex-center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
	z-index: 20;

   
  &__img-block{
    border-radius: 50%;
    width: 143px;
    height: 143px;
    margin-bottom: 15px;
    overflow: hidden;
	}

  &__img{
		display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
	}

  &__name{
    @include fonts.roboto(medium);
    font-size: media.rem(28px);
    color: #fff;
    margin-bottom: media.rem(5px);

		@include media.smallest{
		font-size: 21px;
		}
  }

  &__title{
    font-size: media.rem(16px);
	  @include fonts.roboto(regular);
    color: rgba(#fff, 0.8);
		text-align: center;
	}
}