/* colors */
$green:#6c9c5a;
$green2:#4e8839;
$grey: #566358;
$grey2: #373e42;
$grey3: #f0efe9;
$red: #e44845;
$blue: #6da3bd;
$bg: #f6f6f6;
$bgabout1: #ebefe2;
$bgabout2:#f4f5f0;
$bgblog: #faf8f0;
$bgworks1: #f8f9f5;
$bgworks2: #e1e4d7;


/* normalize.css */
@import "../../node_modules/normalize.css/normalize";

/* components */
@import '_components/_fonts';
