/* colors */
$green1:#6c9c5a;
$green2:#4e8839;
$grey1: #566358;
$grey2: #373e42;
$grey3: #f0efe9;
$red: #e44845;
$blue: #6da3bd;
$bg1: #f6f6f6;


/*resolutions*/
$desktops: 1200px;
$laptops: 992px;
$tablets: 768px;
$phones: 480px;
$smallest: 320px;

/*additional resolutions*/
$w1450: 1450px;
$w1280: 1280px;
$w1270: 1270px;
$w1100: 1100px;
$w1015: 1015px;
$w995: 995px;
$w920: 920px;
$w810: 810px;
$w700: 700px;
$w640: 640px;
$w600: 600px;
$w450: 450px;
$w380: 380px;
$w360: 360px;

/* normalize.css */
@import "../../node_modules/normalize.css/normalize";

/* _setups */
@import '_setups/_fonts';
@import '_setups/_mixins';
@import '_setups/_media';
@import '_setups/_base';

/* _components */
@import '_components/_preloader';
@import '_components/_socials';
@import '_components/_user';
@import '_components/_header';
@import '_components/_burger-menu';
@import '_components/_forms';
@import '_components/_triangles';
@import '_components/_skills-circles';
@import '_components/_map';
@import '_components/_slider';
@import '_components/_modal';
@import '_components/_footer';
@import '_components/_flipper';

/* _pages */
@import '_pages/_index';
@import '_pages/_about';
@import '_pages/_blog';
@import '_pages/_my-works';
