.section_blog{
  position: relative;

}

.blog__content-container{
  background-color: #faf8f0;
  color: $grey1;
  display: flex;
	padding-bottom: 30px;
  justify-content: flex-end;//?

	@include w920{
		flex-direction: column;
	}
 }

.blog__col_left{
  width: 28.33%;  //510px;
  padding: 10px 6.67%; //10px 120px;
  overflow: hidden;
	height: 100%;

  @include w1280{
    width: 33.67%;  //404px;
    padding: 10px 7.5% 10px 4%; //10px 100px;
  }

  @include w920{
    width: 100%;  //768px;
    padding: 10px 23px;
     display: none;
  }
}

#blog__sidebar.fixed{
	position: fixed;
	left: 0;
	top: 0;
}

.blog__col_right{
  width: 71.67%;  //1290px;
  padding-right: 22.55%; //406px;

  @include w1280{
    width: 65.83%;  //790px;
    padding-right: 9.17%; //110px;
  }

  @include w920{
    width: 100%;  //768px;
    padding: 20px 23px;
  }

  @include phones{
    width: 100%;  //768px;
    padding: 20px 10px 0 10px;
  }
}

// blog-nav
.blog-nav__items{
  text-align: right;
  margin-bottom: 15px;
  border-right: 3px solid transparent;

  @include w920{
    text-align: left;
    margin-bottom: 5px;
    border-right: none;
    border-left: 3px solid transparent;
  }

  	&.active{
    border-color: $green1;
	}

	&.active .blog-nav__links{
		color: $green2;
	}
}

.blog-nav__links{
  text-decoration: none;
  display: inline-block;
  color: $grey1;
  padding: 12px 17px 12px 0;

  @include w920{
   padding: 5px 10px;
  }

  &:hover{
    color: $green2;
    cursor: pointer;
  }
}

//articles
.blog-articles__item{

	&:not(:first-child)::before{
		content:"";
		display: block;
		background-color: #ecebe4;
		width: 688px;
		height: 5px;
		margin: 64px 0;

		@include w920{
			margin: 30px 0px;
		}

		@include phones{
			margin: 15px 0px;
		}
	}
}

.article{
	height: 100%;
}
.article__title{
  @include sansus();
  font-size: rem(35px);
  margin-bottom: 10px;

  @include phones{
    font-size: 21px;
  }
}

.article__pubdate{
  color: $green2;
  margin-bottom: 25px;

  @include w920{
    margin-bottom: 15px;
  }
}

.article__text p{
  margin-bottom: 15px;
}

.article__img-container{
  overflow: hidden;
  width: 100%;
  margin-bottom: 15px;
 }

.article__img{
  width: 100%;
}


