script(type="text/x-template" id="burger-menu_template")
  button#burger-menu
    .burger-menu__icon
      span.burger-menu__line
      span.burger-menu__line
      span.burger-menu__line
    nav.burger-menu__list
      +nav-links_burger([['Мои работы', 'my-works.html'], ['Обо мне', 'about.html'], ['Блог', 'blog.html'], ['Авторизация', 'index.html']])