//- .hamburger
//-   a.hamburger__link(href="#")
//-     svg.hamburger__bars-icon(width="40" height="36")
//-       use(xlink:href='assets/images/sprite.svg#hamburger')
//-   .hamburger__full(hidden)
//-     a.hamburger__link(href="#")
//-       svg.hamburger__bars-icon(width="41px" height="37px")
//-         use(xlink:href='assets/images/sprite.svg#hamburger')
//-     ul.hamburger__list
//-       li.hamburger__item
//-         a.hamburger__link(href="my-works.html") Мои работы
//-       li.hamburger__item
//-         a.hamburger__link(href="blog.html") Блог
//-       li.hamburger__item
//-         a.hamburger__link(href="about.html") Обо мне
//-       li.hamburger__item
//-         a.hamburger__link(href="index.html") Авторизация
.burger-menu
  span.burger-menu__line
  span.burger-menu__line
  span.burger-menu__line