script(type="text/x-template" id="modal-template")
  transition(name='modal')
    .modal-mask
      .modal-wrapper
        .modal-container
          .modal-body
            h3.modal-text default body
               button.modal-default-button(@click="$emit('close')") OK
